html {
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #bebebe;
  padding: 0;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: auto 10rem auto;
  grid-template-rows: auto 1.5rem;
  grid-template-areas:
    "left centre right"
    ". center .";
    margin-bottom: 1.5rem;
}

h1 {
  margin: 0;
  grid-area: center;
  z-index: 1;
}

nav {
  grid-column: 1 / -1;
  grid-row: 1;
  background-color: #bd027d;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

nav li {
  font-family: PT Sans Narrow, sans-serif;
  font-size: 1.125rem;
  list-style-type: none;
  padding: .5em .8em;
  margin: 0;
  background-color: #bd027d;
  border: 2px solid #bd027d;
  border-radius: 6px;

}
nav a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  display: block;
}

section ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 0;
  gap: 1rem;
  margin: 0;
}

section li > img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

section li {
  background-color: #ccc;
  margin: 0;
  border: 2px solid #afafaf;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
}

section {
  padding: 1.5rem 0;
}

main {
  background-color: #bebebe;
  margin: 0;
  padding: 0 1rem;
}
